body{
    box-sizing: border-box;
    font-family: 'Open Sans Condensed', 'Times New Roman', Times, serif;
    background: #DB5461;
}

.gameBoard {
    display: flex;
    flex-flow: column nowrap;
    margin: 0 auto;
    margin-top: 5em;
    user-select: none;
}

h1 {
    text-align: center;
    font-size: 4em;
    margin-bottom: 5px;
}

h2 {
    text-align: center;
    font-size: 2em;
}

.score {
    background: #bbb;
    box-shadow: inset 4px 4px black;
    max-width: 85vw;
    margin: 0 auto;
    padding: 1em;
    box-sizing: border-box;
    margin-bottom: 1em;
    user-select: none;
}

.gameBoard ul {
    display: flex;
    justify-content: center;
    margin-bottom: -1em;
    margin-left: -2em;
    width: 80vw;
    margin: 0 auto;
}

.gameBoard ul li {
    list-style-type: none;
    background: #e49ab0;
    border: 1px solid black;
    width: 150px;
    height: 150px;
    box-sizing: border-box;
    user-select: none;
}

.tile p {
    text-align: center;
    line-height: 0;
    position: relative;
    top: 0.4em;
    font-size: 150px;
    margin: 0 auto;
}

.gameBoard ul:last-of-type {
    width: auto;
    box-shadow: 7px 7px black;
    max-width: 80vw;
}

.gameBoard ul:nth-child(3) li:last-child, .gameBoard ul:nth-child(4) li:last-child{
    box-shadow: 7px 7px black;
}

.menu p {
    background: rgba(163, 0, 21, 0.6);
    padding: 1em;
    width: 450px;
    margin: 0 auto;
    margin-top: 0.5em;
    box-sizing: border-box;
    text-align: center;
    font-size: 3em;
    letter-spacing: 5px;
    word-spacing: 1px;
    line-height: 0;
    box-shadow: 0px 6px #A30015;
    color: white;
}

/*Special Case Selectors*/
.gameBoard ul li:hover {
    cursor: pointer;
    background: rgba(228, 154, 176, 0.7);
}

li.tile.clicked{
    background: rgba(228, 154, 176, 0.8);
}

li.tile:active {
    position: relative;
    top: 4px;
}

.menu p:active{
    position: relative;
    top: 4px;
}

.menu p:hover{
    cursor: pointer;
}