*{

}

body{
    box-sizing: border-box;
}

.gameBoard {
    display: flex;
    flex-flow: column nowrap;
}

h1 {
    text-align: center;
}

.gameBoard ul {
    display: flex;
    justify-content: center;
    margin-bottom: -1em;
    margin-left: -2em;
}

.gameBoard ul li {
    list-style-type: none;
    background: red;
    border: 1px solid black;
    width: 150px;
    height: 150px;
    box-sizing: border-box;
}